<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entregable final</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/a349ac397c.js" crossorigin="anonymous"></script>
    <script src="/js/Vue.js"></script>
    <script type="module" src="/js/registrarse.js"></script>
</head>
<body>

    <header class="container-fluid bg-inverse fixed-top bg-dark text-center">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark container">
            <a class="navbar-brand titulo" href="#">Entrega final</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav ml-auto" id="header-nav">
    
                    <a class="nav-item nav-link active" href="#">Inicio</a>
                    <div id="logout">
                        <div class="log nav-item btn btn-danger" v-if="logeado">
                            <img src="../img/newuser.png">
                            Cerrar sesión
                        </div>
                    </div>
    
                        <a href="../html/login.html" v-if="!logeado">
                            <div class="log nav-item btn btn-danger" id="btn-login">
                                <img src="../img/lock.png">
                                Login
                            </div>
                        </a>
                        <a href="../index.html" v-if="!logeado">
                            <div class="log nav-item btn btn-danger cd-signup">
                                <img src="../img/newuser.png">
                                Registro
                            </div>
                        </a>
                </div>
            </div>
        </nav>
    </header>
    

    <div class="flex-end">
        <section class="bg-dark borde grande blanco margen-vertical registro">
            <form action="http://localhost:8080/" id="form-registro">
                
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control campo-vacio" id="email" aria-describedby="emailHelp" placeholder="Ingresa tu email">
                    <div class="invalid-feedback">Error, el email no puede quedar vacio</div>
                    <div id="email-existente" class="invalid none">El email ya existe, proba iniciando sesion</div>
                </div>
    
    
                <div class="form-group">
                    <label for="username">Nombre de Usuario</label>
                    <input type="text" name="username" id="username" class="form-control campo-vacio" placeholder="Nombre de usuario">
                    <div class="invalid-feedback">Error, nombre de usuario no puede quedar vacio</div>
                    <div id="usuario-existente" class="invalid none">El nombre de usuario ya esta en uso</div>
                </div>
    
                <input type="text" class="none" name="email-usuario" id="email-usuario">
    
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" class="form-control campo-vacio" id="password-1" placeholder="Contraseña">
                    <div class="invalid-feedback">Error, la contraseña no puede quedar vacia</div>
                </div>
    
                <div class="form-group">
                    <label for="password-2">Confirmar Contraseña</label>
                    <input type="password" class="form-control campo-vacio" id="password-2" placeholder="Confirmar contraseña">
                    <div class="invalid-feedback">Volve a escribir la misma contraseña</div>
                </div>
    
                <div class="centrar-contenido margen-arriba">
                    <button type="submit" class="btn btn-primary btn-ancho" id="btn-registrarse">Registrarse</button>
                </div>
            </form>
        </section>
    </div>

    <footer class="container-fluid bg-dark text-white py-3 text-center">
        <p>© 2015-2020 Integrador 4 | Design by Tomas Arras</p>
    
        <a href="https://github.com/tomasarras/" class="icon github" title="GitHub">
            <svg viewBox="71 71 370 370">
                <path d="M256 70.7c-102.6 0-185.9 83.2-185.9 185.9 0 82.1 53.3 151.8 127.1 176.4 9.3 1.7 12.3-4 12.3-8.9V389.4c-51.7 11.3-62.5-21.9-62.5-21.9 -8.4-21.5-20.6-27.2-20.6-27.2 -16.9-11.5 1.3-11.3 1.3-11.3 18.7 1.3 28.5 19.2 28.5 19.2 16.6 28.4 43.5 20.2 54.1 15.4 1.7-12 6.5-20.2 11.8-24.9 -41.3-4.7-84.7-20.6-84.7-91.9 0-20.3 7.3-36.9 19.2-49.9 -1.9-4.7-8.3-23.6 1.8-49.2 0 0 15.6-5 51.1 19.1 14.8-4.1 30.7-6.2 46.5-6.3 15.8 0.1 31.7 2.1 46.6 6.3 35.5-24 51.1-19.1 51.1-19.1 10.1 25.6 3.8 44.5 1.8 49.2 11.9 13 19.1 29.6 19.1 49.9 0 71.4-43.5 87.1-84.9 91.7 6.7 5.8 12.8 17.1 12.8 34.4 0 24.9 0 44.9 0 51 0 4.9 3 10.7 12.4 8.9 73.8-24.6 127-94.3 127-176.4C441.9 153.9 358.6 70.7 256 70.7z"/>
            </svg>
        </a>
    
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>